.div-form-ajout {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid black;
  padding: 15px;
  padding-left: 50px;
  padding-right: 50px;
  border-radius: 25px;
  font-family: "Courier New", Courier, monospace;
  @media screen and (max-width: 450px) {
    width: 80vw;
  }

  .form-ajout {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3%;
    border-radius: 25px;
    font-family: "Courier New", Courier, monospace;

    .label-form {
      display: flex;
      flex-direction: column;
      margin: 10px;
      align-items: center;
      font-weight: bold;

      input {
        @media screen and (max-width: 450px) {
          font-size: small;
          margin-top: 10px;
        }
        width: 100%;
        margin-top: 10px;
        border: 1px solid black;
        font-family: "Courier New", Courier, monospace;
        font-size: medium;
        margin-left: 5px;
        border-radius: 5px;
        padding: 15px;
        outline: none;
      }
    }

    button {
      width: fit-content;
      border-radius: 5px;
      padding: 15px;
      font-weight: bold;
      font-size: large;
      border: none;
      font-family: "Courier New", Courier, monospace;
      background-color: rgb(216, 216, 216);

      &:hover {
        background-color: rgb(182, 177, 177);
        color: black;
        cursor: pointer;
      }

      &:disabled {
        opacity: 0.5;
        background-color: rgb(216, 216, 216);
        color: black;
        cursor: not-allowed;
      }
    }
  }
}
