.product-item-no-check {
  font-family: "Courier New", Courier, monospace;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 2px solid black;
  padding: 15px;
  font-size: x-large;
  position: sticky;

  .product-name {
    text-transform: uppercase;
  }
  .checkbox {
    width: 30px;
    height: 30px;
    cursor: pointer;
  }

  .product-nb {
    margin-left: 5%;
  }

  .product-delete {
    margin-left: 15px;
    border-radius: 5px;
    border: none;
    padding: 15px;
    background-color: rgb(255, 61, 61);
    color: white;
    cursor: pointer;
  }
}

.product-item-check {
  font-family: "Courier New", Courier, monospace;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-bottom: 2px solid black;
  padding: 15px;
  font-size: x-large;
  opacity: 0.5;
  position: sticky;

  .product-name {
    text-transform: uppercase;
  }

  .checkbox {
    width: 30px;
    height: 30px;
    cursor: pointer;
  }

  .product-nb {
    margin-left: 5%;
  }

  .product-delete {
    margin-left: 15px;
    border-radius: 5px;
    border: none;
    padding: 15px;
    background-color: rgb(255, 61, 61);
    color: white;
    cursor: pointer;
  }
}
